<ion-header>

	<ion-toolbar color="success">
		<ion-title>Characters</ion-title>
	</ion-toolbar>

</ion-header>

<ion-content>
	<ion-list>
		<ion-item button detail lines="inset" *ngFor="let character of (characters)" (click)="openDetails(character)">
			{{ character.name }}
		</ion-item>
	</ion-list>

	<ion-infinite-scroll threshold="10%" (ionInfinite)="loadMoreCharacters($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more character...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>