<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaulthref="/tabs/characters"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ episode?.title }}</ion-title>
    <ion-buttons slot="end">
    <ion-button (click)="dislikeEpisode()" *ngIf="isLike">
      <ion-icon name="thumbs-up" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="likeEpisode()" *ngIf="!isLike">
      <ion-icon name="thumbs-up-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
	
	
<ion-content>
 
<ion-card *ngIf="episode">
  <ion-card-content>
    {{ episode.title }}
    {{ episode.season }}
    {{ episode.episode }}
    {{ episode.air_date }}
    {{ episode.characters }}

  </ion-card-content>
</ion-card>

</ion-content>
