<ion-header>
	<ion-toolbar color="success">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/episodes"></ion-back-button>
		</ion-buttons>
		<ion-title> {{ episode?.title }}</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dislikeEpisode()" *ngIf="isLike">
				<ion-icon name="thumbs-up" slot="icon-only" color="warning"></ion-icon>
			</ion-button>
			<ion-button (click)="likeEpisode()" *ngIf="!isLike">
				<ion-icon name="thumbs-up-outline" slot="icon-only" color="warning"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content>

	<ion-card *ngIf="episode" class="episode-card">
		<ion-card-header>Episode {{ episode.season }}: {{ episode.episode }}</ion-card-header>
		<ion-card-content>
			<h1> {{ episode.title }} </h1>
		</ion-card-content>
		<ion-item class="episode-info" lines="none">
			<ion-icon name="people" slot="start"></ion-icon>
			Characters: {{ episode.characters }}
		</ion-item>
		<ion-item class="episode-info" lines="none">
			<ion-icon name="film" slot="start"></ion-icon>
			Serie: {{ episode.series }}
		</ion-item>
		<ion-item class="episode-info" lines="none">
			<ion-icon name="film" slot="start"></ion-icon>
			Season: {{ episode.season }}
		</ion-item>
		<ion-item class="episode-info" lines="none">
			<ion-icon name="calendar" slot="start"></ion-icon>
			Release Date: {{ episode.air_date }}
		</ion-item>
	</ion-card>

</ion-content>