<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaulthref="/tabs/characters">{{ character?.name }}</ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

	
<ion-content>
 
<ion-card *ngIf="character">
  <ion-card-content>
    {{ character.name }}
    {{ character.birthday }}
    {{ character.occupation }}
    {{ character.status }}
    {{ character.nickname }}
    
  </ion-card-content>
</ion-card>

</ion-content>
