<ion-header>
  	
  <ion-toolbar color="dark">
    <ion-title>Death Count</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
    <ion-searchbar [(ngModel)]="name" placeholder ="Search Death" (ionChange)="onSearchChange($event)"></ion-searchbar>
    
    <ion-item button *ngFor="let death of (deaths | async)" >
      <ion-avatar slot="start">
        
      </ion-avatar>
 
      <ion-label text-wrap>
        <h1>{{ death.name }}</h1>
        Number of Deaths: {{death.deathCount}}
      </ion-label>
    </ion-item>
</ion-content>
