<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaulthref="/tabs/quotes"></ion-back-button>
    </ion-buttons>
    <ion-title>Quote Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
<ion-card *ngIf="quote">
  <ion-card-content>
      <h1> {{ quote.quote }} </h1>
    </ion-card-content>
    <ion-item class="movie-info" lines="none">
      <ion-icon name="people" slot="start"></ion-icon>
      Author: {{ quote.author }}
    </ion-item>
    <ion-item class="movie-info" lines="none">
      <ion-icon name="film" slot="start"></ion-icon>
      Serie: {{ quote.series }}
    </ion-item>
    
</ion-card>

</ion-content>